.btn-log {
	display: none;
}

.prof {
	width: 350px;
	text-align: center;
	padding-top: 50px;
	background-color: rgba(166, 214, 232, 0.2);
}

h4 {
	margin: 0;
	font-size: 20px;
}

.prof h4 span {
	color: #5ED6FF;
}

.links {
	margin-top: 10px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.links a {
	margin: 0 10px;
	text-decoration: none;
	color: #5ED6FF;
	font-weight: bold;
	font-size: 18px;
}